#cont {
	display: flex;
	background-color: #009999;
}

#cart_items {
	display: flex;
	font-family: 'Amatic SC', cursive;
	align-items: center;
	text-transform: uppercase;
	margin-left: 20px;
}

#your_cart {
	display: flex;
	font-family: 'Amatic SC', cursive;
	align-items: center;
}

#row1 {
	display: flex;
}